[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
mlxtend = "*"
plotly = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.10"
